.film-img {
    width: 100%;
}
.film-title-rus {
    font-size: 28px;
    line-height: 26px;
    color: #f2f2f2;
    margin: 0 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.film-title-eng {
    color: white;
    font-size: medium;
}
.film-data {
    color: #FFEB3B;
    font-size: 27px;
}
small {
    color: white;
}
.film-details {
    margin-top: 5%;
    margin-left: 100px;
}
.description-block {
    display: flex;
}
.details-item {
    color: #3c3b3b;
    opacity: .5;
    padding-right: 10px;
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    width: 95px;
    text-align: right;
}
.details-list {
    margin-bottom: 17px;
    list-style: none;
}
.details-year-text {
    font-size: 26px;
    line-height: 17px;
    margin: 0;
    display: inline-block;
    color: #101010;
    white-space: normal;
    padding-left: 100px;

}
.details-name {
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: none;
    color: inherit;
    border-bottom: none;
}
.film-button {
    display: flex;
    justify-content: space-between;
}
.film-trailer {
    background: #9f242b;
    color: white;
    
}
.film-trailer:hover {
    background: white;
    color: black;

}
.film-save {
    background: #9f242b;
    color: white; 
}
.film-save:hover {
    background: white;
    color: black;

}
.film-block {
    display: flex;
    flex-direction: column;
}
.film-look-hd {
    margin-top: -45px;
    background: #9f242b;
    text-align: center;
    height: 37px;
    margin-bottom: 7px;
    width: 50%;
    border: 1px solid white;
    margin-left: 132px;
    font-size: 20px;
    color: white;
}
.film-look-hd:hover {
    background: white;
    color: black;
}
.film-trailer::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: none;
    transition: transform .1s,background-color .75s,color .75s,border-color .75s;
    z-index: -1;
}
.description-film {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 10px 70px;
    color: #565555;
}
.description-film-text {
    display: flex;
    flex-direction: column;
    width: 610px;
    margin: 10px 0px 40px 70px;
}
.advertising {
    
}