<!--Banner-->

<div class="container-fluid">
    <div class="row">
<section class="header-hero hfeed site">
  <div class="hero-wrapper">
    <div class="hero-bg"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="film-page">
              <small class="">Фильм</small>
            <h1 class="film-title-rus">Хищные птицы: Потрясающая история Харли Квинн</h1>
            <h2 class="film-title-eng">Birds of Prey (And the Fantabulous Emancipation of One Harley Quinn)</h2>
            <img class="film-img" src="/img/film.jpg"/>
            <p class="film-data">ДАТА ВЫХОДА БУДЕТ ИЗВЕСТНА ПОЗЖЕ </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="film-details">
            <h1 class="details-rating"></h1>
            <p class="details-country">США</p>
            <ul>
                <li>
                    <h2 class="details-year">Год :</h2>
            <p class="details-year-text">
                <span>2020</span>
            </p>
                </li>
                 <li>
                    <h2 class="details-year">Режисер :</h2>
            <p class="details-year-text">
                <span>Кати Ли</span>
            </p>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumbs-wrapper-line"></div>
</section>
    </div>
</div>