<!--Banner-->

<div class="container-fluid">
    <div class="row">
<section class="header-hero hfeed site">
  <div class="hero-wrapper">
    <div class="hero-bg"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="film-page">
              <small class="">Фильм</small>
            <h1 class="film-title-rus">Хищные птицы: Потрясающая история Харли Квинн</h1>
            <h2 class="film-title-eng">Birds of Prey (And the Fantabulous Emancipation of One Harley Quinn)</h2>
            <img class="film-img" src="/img/film.jpg"/>
            <p class="film-data">ДАТА ВЫХОДА БУДЕТ ИЗВЕСТНА ПОЗЖЕ </p>
          </div>
          <div class="film-button">
            <button class="film-trailer">
              <span>трейлер фильма</span>
            </button>
           <button class="film-look">
             <span>смотреть в HD качестве</span>
           </button> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="film-details">
            <h1 class="details-rating"></h1>
            <p class="details-country">США</p>
            <ul>
                <li class="details-list">
                    <h2 class="details-item">Год :</h2>
            <p class="details-year-text">
                <span class="details-name">2020</span>
            </p>
                </li>
                 <li class="details-list">
                    <h2 class="details-item">Режисер :</h2>
            <p class="details-year-text">
                <span class="details-name">Кати Ли</span>
            </p>
                </li>
                <li class="details-list">
                    <h2 class="details-item">В ролях :</h2>
            <p class="details-year-text">
                <span class="details-name">Марго Робби,
                  </span>
                  <span class="details-name">Джерни Смоллетт,</span>
                  <span class="details-name">Мэри Элизабет Уинстэд,</span>
                  <span class="details-name">Рози Перес,</span> 
                  <span class="details-name">Рози Перес,Юэн МакГрегор</span>
            </p>
                </li>
                 <li class="details-list">
                    <h2 class="details-item">Возраст :</h2>
            <p class="details-year-text">
                <span class="details-name">18 +</span>
            </p>
                </li>
                <li class="details-list">
                    <h2 class="details-item">Жанр :</h2>
            <p class="details-year-text">
                <span class="details-name">боевик, криминал, коммедия</span>
            </p>
                </li>
                <li class="details-list">
                    <h2 class="details-item">Рейтинг :</h2>
            <p class="details-year-text">
                <span class="details-name"></span>
            </p>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="description">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="description-film">
          <h2>Описание фильма</h2>
        </div>
        <div class="description-film-text">
          <p>Группа супергероинь противостоит главе преступного мира Готэма, бизнесмену Роману Сайонису</p>
        </div>
      </div>
    </div>
  </div>
</section>
    </div>
</div>