<!--Banner-->

<div class="container-fluid">
    <div class="row">
<section class="header-hero hfeed site">
  <div class="hero-wrapper">
    <div class="hero-bg"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <header class="entry-header">
            <h1 class="page-title">Онлайн кинотеатр TVScreen</h1>
            <p>Тысячи фильмов и сериалов в одном месте: смотри, сохраняй, делись с друзьями </p>
          </header>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumbs-wrapper-line"></div>
</section>
    </div>
</div>

<!--search-->

<div id="main-header">
  <div class="flexbox container">
    <div class="main-header-wrap">
      
      
      <div class="main-header-search grid-2-of-4">
        <div class="main-header-search-row-2">
          <input id="main-search" type="text" name="main-search" value="" placeholder="Название фильма">
          <input class="main-search-btn" type="submit" name="main-search" value="Искать">
        </div>
      <p>В каталоге представлено более 35 000 фильмов и сериалов в Full HD. 
        Вы легко найдёте то, что вам нужно – в наших коллекциях или через поиск по жанру/названию.</p>
      </div>
    </div>
  </div>
</div>

<!--carusel-->
<section id="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-title">НОВИНКА 2020 года</h2>
          <div class="carusel-top">
            <div class="testimonial-list">
              <img class="testimonial-img" src="/img/film.jpg" />
            </div>
            <div class="testimonial-title-text">
              <h2>Хищные птицы: Потрясающая история Харли Квинн (2020)</h2>
              <em>Психанутая бывшая Джоккера собирает женский отряд</em>
              <h5 class="testimonital-parameters">Режиссер: Кэти Янь</h5>
              <h5 class="testimonital-parameters">Длительность: 109 мин.</h5>
              <h5 class="testimonital-parameters">18 +</h5>
               <div class="testimonital-button">
              <a class="testimonital-transition" href="film">Подробнее</a>
            </div>
            </div>
          </div>
        </div>
          <div class="carousel-item ">
            <h2 class="testimonial-title">Скоро на TVScreen</h2>
            <div class="carusel-top">
            <div class="testimonial-list">
              <img class="testimonial-img" src="/img/film1.jpg" />
            </div>
            <div class="testimonial-title-text">
              <h2>Аватар 2 Джеймса Каммерона (2021)</h2>
              <em>После принятия образа аватара солдат Джейк Салли становится предводителем 
                народа на'ви и берет на себя миссию по защите новых друзей от корыстных бизнесменов 
                с Земли. </em>
                <h5 class="testimonital-parameters">Режиссер: Джеймс Кэмерон</h5>
              <h5 class="testimonital-parameters">Длительность: 2:00</h5>
              <h5 class="testimonital-parameters">3 +</h5>
               <div class="testimonital-button">
              <a class="testimonital-transition" href="film">Подробнее</a>
            </div>
            </div>
          </div>
          </div>
          <div class="carousel-item ">
            <h2 class="testimonial-title">Лучшее в 2019 году</h2>
            <div class="carusel-top">
            <div class="testimonial-list">
              <img class="testimonial-img" src="/img/Film2.jpg" />
            </div>
            <div class="testimonial-title-text">
              <h2>Джуманджи: новый уровень (2019)</h2>
              <em>Чтобы спасти одного из приятелей, остальным приходится вернуться в игру.</em>
              <h5 class="testimonital-parameters">Режиссер: Джейк Кэздан</h5>
              <h5 class="testimonital-parameters">Длительность: 123 мин</h5>
              <h5 class="testimonital-parameters">10 +</h5>
               <div class="testimonital-button">
              <a class="testimonital-transition" href="film">Подробнее</a>
            </div>
            </div>
            </div>
        </div>
  
        <a class="carousel-control-next sluder" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
  
  </section>


<!--catalog-->
<div class="container-fluid">
    <div class="row">
      <h2>Популярные фильмы, лучшие сериалы</h2>
      <p>В каталоге представлено более 35 000 фильмов и сериалов в Full HD. 
        Вы легко найдёте то, что вам нужно – в наших коллекциях или через поиск по жанру/названию.</p>
        <div class="new">
          <h3>Новинки</h3>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/pcD1n9FnSkSzzlyH4frMlVzaI8I.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">3%</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 9.33</a>
                    </span>
                    <p>A thriller set in a world sharply divided between progress and devastation, where people are given the chance to make it to the "better side" but only 3% of the candidates succeed.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/A3GEp5IM1JXD0TuicN58XYkYV1b.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Lethal Weapon</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.26</a>
                    </span>
                    <p>A slightly unhinged former Navy SEAL lands a job as a police officer in Los Angeles where he's partnered with a veteran detective trying to keep maintain a low stress level in his life.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/esKFbCWAGyUUNshT5HE5BIpvbcL.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Stranger Things</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.74</a>
                    </span>
                    <p>When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces, and one strange little girl.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/fkj2HgV3cfRBqJjSSwS7zJVyuXD.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Pure Genius</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 6.42</a>
                    </span>
                    <p>A young Silicon Valley tech-titan enlists a veteran surgeon with a controversial past in starting a hospital with a cutting-edge, new school approach to medicine.</p>
                </div>
            </div>
       
        <div class="new-button">
            <a class="new-button_link" href="">Показать больше</a>
        </div>
        </div>
        </div>


<div class="container-fluid">
    <div class="row">
                <div class="new">
          <h3>Сериалы</h3>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/pcD1n9FnSkSzzlyH4frMlVzaI8I.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">3%</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 9.33</a>
                    </span>
                    <p>A thriller set in a world sharply divided between progress and devastation, where people are given the chance to make it to the "better side" but only 3% of the candidates succeed.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/A3GEp5IM1JXD0TuicN58XYkYV1b.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Lethal Weapon</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.26</a>
                    </span>
                    <p>A slightly unhinged former Navy SEAL lands a job as a police officer in Los Angeles where he's partnered with a veteran detective trying to keep maintain a low stress level in his life.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/esKFbCWAGyUUNshT5HE5BIpvbcL.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Stranger Things</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.74</a>
                    </span>
                    <p>When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces, and one strange little girl.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/fkj2HgV3cfRBqJjSSwS7zJVyuXD.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Pure Genius</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 6.42</a>
                    </span>
                    <p>A young Silicon Valley tech-titan enlists a veteran surgeon with a controversial past in starting a hospital with a cutting-edge, new school approach to medicine.</p>
                </div>
            </div>
       
        <div class="new-button">
            <a class="new-button_link" href="">Показать больше</a>
             </div>
        </div>
        </div>

                <div class="new">
          <h3>Мультфильмы</h3>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/pcD1n9FnSkSzzlyH4frMlVzaI8I.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">3%</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 9.33</a>
                    </span>
                    <p>A thriller set in a world sharply divided between progress and devastation, where people are given the chance to make it to the "better side" but only 3% of the candidates succeed.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/A3GEp5IM1JXD0TuicN58XYkYV1b.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Lethal Weapon</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.26</a>
                    </span>
                    <p>A slightly unhinged former Navy SEAL lands a job as a police officer in Los Angeles where he's partnered with a veteran detective trying to keep maintain a low stress level in his life.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/esKFbCWAGyUUNshT5HE5BIpvbcL.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Stranger Things</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.74</a>
                    </span>
                    <p>When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces, and one strange little girl.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/fkj2HgV3cfRBqJjSSwS7zJVyuXD.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Pure Genius</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 6.42</a>
                    </span>
                    <p>A young Silicon Valley tech-titan enlists a veteran surgeon with a controversial past in starting a hospital with a cutting-edge, new school approach to medicine.</p>
                </div>
            </div>
        
        <div class="new-button">
            <a class="new-button_link" href="">Показать больше</a>
        </div>
         </div>
        </div>
</div>
</div>
    </div>
</div>

<!--Подписка-->
<section class="subscription-list">
<div class="container-fluid">
  <div class="row">
      <div class="subscription-paragraph">
         <h2 class="subscription-title">Варианты простомотра</h2>
        <div class="subscription-item">
         <h3 class="subscription-text">Покупка навсегда</h3>
         <p class="subscription-text-p">Купленный фильм будет всегда доступен в вашей библиотеке</p>
      </div>
 <div class="subscription-item">
         <h3 class="subscription-text">Прокат на 48 часов</h3>
         <p class="subscription-text-p">Фильм будет доступен для просмотра в течение 48 часов</p>
      </div>
      <div class="subscription-item">
         <h3 class="subscription-text">Подписка на месяц</h3>
         <p class="subscription-text-p">Неограниченный просмотр фильмов и сериалов по подписке на 30 дней по фиксированной цене</p>
      </div>
       <a class="subscription-button" href="">Узнать подробнее</a>
  </div>
  
</div>
</section>

<!--reviwes-->

<section id="reviwes">
  <div class="container">
    <h2 class="text-center">Отзывы наших клиентов</h2>
    <h4 class="text-center my-5 pb-5">Что говорят наши клиенты</h4>
    <div id="carouselReviews" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#carouselReviews" data-slide-to="0" class="active"></li>
          <li data-target="#carouselReviews" data-slide-to="1"></li>
          <li data-target="#carouselReviews" data-slide-to="2"></li>
       </ol>
       <div class="carousel-inner">
         <div class="carousel-item active">
           <div class="row">
             <div class="offset-sm-2 col-sm-3 col-md-2"><img src="http://html-plus.in.ua/wp-content/uploads/2019/01/lara.jpg" class="img-fluid rounded-circle d-block m-auto pb-3" alt="Лариса Уварова"></div>
           <div class="offset-md-1 col-md-5 col-sm-5">
      <div class="review">
       Спасибо за быстрый заказ. Отличный сервис. С менеджером было легко и приятно общаться.
       <div class="review-author">
         Лариса Уварова
       </div>
     </div>
   </div>
 </div>
</div>
 <div class="carousel-item">
   <div class="row">
      <div class="offset-sm-2 col-sm-3 col-md-2"><img src="http://html-plus.in.ua/wp-content/uploads/2019/01/igor.jpg" class="img-fluid rounded-circle d-block m-auto pb-3" alt="Игорь Минаев"></div>
      <div class="offset-md-1 col-md-5 col-sm-5">
    <div class="review">
     Отличный уровень сервиса. Доставили посылку за пару дней. А цены очень приемлемые за подобную доставку.
    <div class="review-author">
      Игорь Минаев
    </div>
   </div>
  </div>
</div>
</div>
<div class="carousel-item">
  <div class="row">
    <div class="offset-sm-2 col-sm-3 col-md-2"><img src="http://html-plus.in.ua/wp-content/uploads/2019/01/mila.jpg" class="img-fluid rounded-circle d-block m-auto pb-3" alt="Мила Синицина"></div>
      <div class="offset-md-1 col-md-5 col-sm-5">
        <div class="review">
         Очень понравился товар. Посылка пришла быстро. Заказывыла подруге в подарок. Теперь хочу для себя.
        <div class="review-author">
          Мила Синицина
        </div>
      </div>
     </div>
    </div>
  </div>
 </div>
 <a class="carousel-control-prev" href="#carouselReviews" role="button" data-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselReviews" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>
</div>
 </section>
